node_modules/
.DS_Store
Thumbs.db
npm-debug.log
/config/
/vendor/
/caches/

/play.pokemonshowdown.com/sprites/
/play.pokemonshowdown.com/audio/
/play.pokemonshowdown.com/index.php
/play.pokemonshowdown.com/index-test.html
/play.pokemonshowdown.com/preactalpha.html
/play.pokemonshowdown.com/crossprotocol.html
/play.pokemonshowdown.com/data/

/play.pokemonshowdown.com/ads.txt

/pokemonshowdown.com/.well-known/
/pokemonshowdown.com/.pages-cached/
/pokemonshowdown.com/files/
/pokemonshowdown.com/images/
/pokemonshowdown.com/ads.txt

/replay.pokemonshowdown.com/index.php
/replay.pokemonshowdown.com/js/
/replay.pokemonshowdown.com/caches/
/replay.pokemonshowdown.com/theme/wrapper.inc.php
/replay.pokemonshowdown.com/ads.txt
